@inject MicShop.Services.Interfaces.IUserService UserService
@inject MicShop.Services.Interfaces.IMenuItemsService MenuItemsService
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@using System.Security.Claims
@{
    var Contact = ViewData["contact"] as MicShop.Core.Entities.ContactModel;
    var MenuItems = await MenuItemsService.GetAll();
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a asp-controller="Shop" asp-action="Wish"><i class="fa fa-heart"></i> <span class="wishNum">0</span></a></li>
                <li><a asp-controller="Shop" asp-action="Basket"><i class="fa fa-shopping-bag"></i> <span class="basketNum">0</span></a></li>
            </ul>
        </div>
        <div class="humberger__menu__widget">
            @await Html.PartialAsync("_SelectLanguagePartial")
            @if (!User.Identity.IsAuthenticated)
            {

                <div class="header__top__right__auth">
                    <a asp-area="" asp-action="Login" asp-controller="Account"><i class="fa fa-user"></i> Login</a>
                </div>
            }
            else
            {
                <div class="header__top__right__language">

                    <div>Account</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a asp-action="Orders" asp-controller="Account"><i class="fa fa-user"></i> @UserService.GetCurrentUser(this.Context).Name</a></li>
                        <li><a asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out"></i> @Localizer["LogOut"]</a></li>
                    </ul>
                </div>

            }

        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active">
                    <a asp-area="" asp-controller="Shop" asp-action="Index">@Localizer["Shop"]</a>
                    <a asp-area="" asp-controller="Contact" asp-action="Index">@Localizer["Contact"]</a>
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="@Contact.FaceBook"><i class="fa fa-facebook"></i></a>
            <a href="@Contact.Twitter"><i class="fa fa-twitter"></i></a>
            <a href="@Contact.Instagram"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="humberger__menu__contact">

        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="@Contact.FaceBook"><i class="fa fa-facebook"></i></a>
                                <a href="@Contact.Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="@Contact.Instagram"><i class="fa fa-instagram"></i></a>
                            </div>

                            @await Html.PartialAsync("_SelectLanguagePartial")
                           
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <div class="header__top__right__auth">
                                    <a asp-area="" asp-action="Login" asp-controller="Account"><i class="fa fa-user"></i> @Localizer["Login"]</a>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__right__language">

                                    <div>Account</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a asp-action="Orders" asp-controller="Account"><i class="fa fa-user"></i> @UserService.GetCurrentUser(this.Context).Name</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out"></i>@Localizer["LogOut"]</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-controller="Shop" asp-action="Index"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>

                            <li class="active">
                                <a asp-area="" asp-controller="Shop" asp-action="Index">@Localizer["Shop"]</a>
                            </li>
                            @*<li><a href="./shop-grid.html">Cart</a></li>
                                <li><a href="./blog.html">Blog</a></li>*@
                            <li><a asp-area="" asp-controller="Contact" asp-action="Index">@Localizer["Contact"]</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a asp-controller="Shop" asp-action="Wish"><i class="fa fa-heart"></i> <span class="wishNum">0</span></a></li>
                            <li><a asp-controller="Shop" asp-action="Basket"><i class="fa fa-shopping-bag"></i> <span class="basketNum">0</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>@Localizer["All Categories"]</span>
                        </div>
                        <ul>

                            @foreach (var item in ViewData["Categories"] as IEnumerable<MicShop.Core.Entities.CategoryModel>)
                            {
                                <li><a asp-action="GetCategoryProducts" asp-route-id="@item.ID" asp-controller="Category">@item.Name</a></li>
                            }


                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">

                        <div class="hero__search__form">
                            <form asp-controller="Shop" asp-action="Search" method="GET">
                                <input id="searchString" name="searchString" type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">@Localizer["SEARCH"]</button>
                            </form>
                        </div>


                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>@Contact.Phone</h5>
                                <span>@Localizer["support"]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/img/breadcrumb.jpg")" />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*<h2>@ViewData["Title"]</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">@ViewData["Title"]</a>
                            <span>@ViewData["Title"]</span>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Breadcrumb Section End -->
    @RenderBody()
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>@Localizer["Address"]: @Contact.Address</li>
                            <li>@Localizer["Phone"]: @Contact.Phone</li>
                            <li>@Localizer["Email"]: @Contact.Email</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>@Localizer["UsefulLinks"]</h6>
                        <ul>
                            @for (int i = 0; i <= MenuItems.Count / 2; i++)
                            {
                                <li><a asp-controller="Page" asp-action="Index" asp-route-name="@MenuItems[i].Name">@MenuItems[i].Name</a></li>
                            }


                        </ul>
                        <ul>
                            @for (int i = (MenuItems.Count / 2) + 1; i < MenuItems.Count; i++)
                            {
                                <li><a asp-controller="Page" asp-action="Index" asp-route-name="@MenuItems[i].Name">@MenuItems[i].Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="@Contact.FaceBook"><i class="fa fa-facebook"></i></a>
                            <a href="@Contact.Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="@Contact.Twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->

    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


</body>

</html>