@model MicShop.Core.Entities.ContactModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ContactModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Twitter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
