@model IEnumerable<MicShop.Core.Entities.CategoryModel>

@{
    ViewData["Title"] = "Caregory";
}
<p>
    <a asp-action="Create" style="color:green;">Create New</a>
</p>

<div class="row" style="height: 900px;">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="panel-title">
                    Categories
                </h3>

                <div class="card-tools">

                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 80%;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="img-responsive" alt="" style="height:150px;width:150px" /></td>
                                <td>@item.Name</td>
                                <td>
                                    <form>
                                        <button type="submit" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary btn-xs" style="width:50px; height:25px" title="Edit">
                                            <span class="glyphicon glyphicon-pencil"> Edit </span>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <button type="submit" asp-action="Details" asp-route-id="@item.ID" class="btn btn-success btn-xs" style="width:50px; height:25px" title="Details">
                                            <span class="glyphicon glyphicon-info-sign"> Details </span>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <button asp-action="Delete" asp-route-id="@item.ID" type="submit" class="btn btn-danger btn-xs" style="width:50px; height:25px" title="Delete">
                                            <span class="glyphicon glyphicon-trash"> Delete </span>
                                        </button>
                                    </form>
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
</div>

